
.stories {
    margin-bottom: 65px;
}
a {
    text-decoration: none;
    color: darkred;
    font-size: 1.5rem;
}

a:hover {
    font-weight: bold;
    color: teal;
}

.story1{
    box-shadow: rgb(87, 214, 237) -7px 7px 10px;
    /* transform: rotate(0);
    transition: transform 0.5s; */
    transition: all 0.5s;
}
.story2{
    box-shadow: rgb(243, 101, 101) 7px 7px 10px;
    /* transform: rotate(0);
    transition: transform 0.5s; */
    transition: all 0.5s;
}

.story1:hover{
    box-shadow: rgb(87, 214, 237) inset 7px -7px 10px;
    /* transform: rotate(-4deg); */
    transform: scale(1.05);

}
.story2:hover{
    box-shadow: rgb(243, 101, 101) inset -7px -7px 10px;
    /* transform: rotate(-4deg); */
    transform: scale(1.05);
}

img {
    transition: opacity 0.5s ease;
    transform: rotate(0);
}


.story1 img:hover{
    transform: rotate(4deg);
}

.story2 img:hover{
    transform: rotate(-4deg);
}
