<section class="about">
    <div class="container">
        <div class="about-content">
            <div class="p-5 d-flex align-items-center justify-content-around">
                <h3 class="section-head-title">Developed By</h3>
                <a href="https://grand-donut-3a4631.netlify.app/" target="_blank" class="view-all">Documentation <span>></span></a>
            </div>
            <div class="stories row">
                <div class="story col-sm-6 col-md-3">
                    
                </div>
                <div class="story1 col-sm-6 col-md-3" style="height: 32rem;">
                    <img src="../../assets/Mo.png" alt="" style="margin-left: 10px; margin-top: 5px;" height="55%" class="story-img rounded-2">
                    <br>
                    <br>
                    <h4 class="story-title">Mohamed Abdallah </h4>
                    <a href="https://www.facebook.com/mohammed.abdallah.503" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i> Facebook</a><br>
                    <a href="https://www.linkedin.com/in/mohammed-farhoud-b8ba03107/" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin"></i> Linkedin</a><br>
                    <a href="https://github.com/MohammedFarhoud" target="_blank" class="github"><i class="fa-brands fa-github"></i> GitHub</a><br>
                </div>
                <div class="story2 col-sm-6 col-md-3" style="height: 32rem;">
                    <img src="../../assets/Mu.jpg" alt="" style="margin-left: 10px; margin-top: 5px;" height="55%" class="story-img rounded-2">
                    <br>
                    <br>
                    <h4 class="story-title">Muhannad Ibrahim</h4>
                    <a href="https://www.facebook.com/muhannad.ibrahim.23" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i> Facebook</a><br>
                    <a href="https://www.linkedin.com/in/muhannad-ibrahim/" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin"></i> Linkedin</a><br>
                    <a href="https://github.com/muhannad-ibrahim" target="_blank" class="github"><i class="fa-brands fa-github"></i> GitHub</a><br>
                </div>
                <div class="story col-sm-6 col-md-3">
                </div>
            </div>
        </div>
    </div>
</section>